{% load static %}
<link rel='stylesheet' href='../../static/styles.css'>
<a href='/'><button class='buttonstyle'>Home</button></a>
<a href='/addtweet/'><button class='buttonstyle'>Tweet!</button></a>

<div id='profilecontent'>
    <div class='userbox'>
        <div class='userspot'>
            <h2>{{twitteruser.username}}</h2>
            <h3><a href='/profile/{{twitteruser.id}}'>@{{twitteruser.username}}</a></h3>
            <p>Bio: {{twitteruser.bio}}</p>
            <div>tweet: {{user.twitteruser.tweetcount}}</div>
            <div>Following: {{user.twitteruser.follow.count}}</div>
        </div>
        <div>
            <a href='/follow/{{twitteruser.id}}'><button class='logstyle'>Follow?</button></a>
            <a href='/unfollow/{{twitteruser.id}}'><button class='logstyle'>Unfollow?</button></a>
        </div>
    </div>
    <div id='contenthomeprofile'>
        <div class='tweetpot'>

            <h4>@{{twitteruser.username}} tweet:</h4>
            {% for item in tweet %}
            <div class='tweetareasprofile'>
                <div>
                    <div><a href='/profile/{{item.user.id}}'>@{{item.user}}</a></div>
                    <br>
                    <div>{{item.message}}</div>
                    <br>
                    <div class='timespot'><a href='/view_tweet/{{item.id}}'>{{item.post_time}}</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>